Repository logbull/logbull: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format-and-lint

.pre-commit-config.yaml:

# Pre-commit configuration
# See https://pre-commit.com for more information
repos:
  # Frontend checks
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: powershell -Command "cd frontend; npm run format"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: powershell -Command "cd frontend; npm run lint"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Backend checks
  - repo: local
    hooks:
      - id: backend-format-and-lint
        name: Backend Format & Lint (golangci-lint)
        entry: powershell -Command "cd backend; golangci-lint fmt; golangci-lint run"
        language: system
        files: ^backend/.*\.go$
        pass_filenames: false

FEATURE (projects): Display project stats in settings
  backend/internal/features/logs/querying/controller.go
  backend/internal/features/logs/querying/service.go
  frontend/src/entity/query/api/queryApi.ts
  frontend/src/entity/query/index.ts
  frontend/src/entity/query/model/ProjectLogStats.ts
  frontend/src/features/projects/ui/ProjectSettingsComponent.tsx
Due: frontend-format, frontend-lint, backend-format-and-lint

FIX (tests): Imrove stability of project isolation tests
  backend/internal/features/logs/core/tests/removing_project_logs_cleanup_test.go
  backend/internal/features/logs/core/tests/repository_project_isolation_test.go
  backend/internal/features/logs/core/tests/utils.go
Due: backend-format-and-lint

FEATURE (query): Remember the query over the launches
  backend/internal/features/projects/services/project_service.go
  frontend/src/features/query/ui/QueryComponent.tsx
Due: frontend-format, frontend-lint, backend-format-and-lint

FEATURE (search): Make search fields placeholder independed
  frontend/src/features/query/ui/ConditionEditorComponent.tsx
  frontend/src/features/query/ui/QueryBuilderComponent.tsx
  frontend/src/features/query/ui/QueryComponent.tsx
Due: frontend-format, frontend-lint

FIX (log level): Rename log level warning to want if received
  backend/internal/features/logs/receiving/service.go
Due: backend-format-and-lint

FIX (copying): Fix copying from UI
  frontend/src/features/projects/ui/ProjectApiKeysComponent.tsx
  frontend/src/features/query/ui/HowToSendLogsFromCodeComponent.tsx
  frontend/src/shared/lib/copyToClipboard.ts
  frontend/src/shared/lib/index.ts
Due: frontend-format, frontend-lint

FEATURE (querying): Increase querying limit
  backend/internal/features/logs/core/di.go
  backend/internal/features/logs/core/model.go
Due: backend-format-and-lint

FEATURE (query): Execute query on project open
  frontend/src/features/query/ui/QueryComponent.tsx
Due: frontend-format, frontend-lint

FEATURE (query): Allow to hide fields of logs
  frontend/src/features/query/ui/QueryResultsComponent.tsx
Due: frontend-format, frontend-lint

FIX (query): Fix query timerange on project load
  frontend/src/features/query/ui/QueryComponent.tsx
Due: frontend-format, frontend-lint

FIX (logs): Store logs time in nanoseconds instead of string
  backend/internal/features/logs/core/dto.go
  backend/internal/features/logs/core/query_builder.go
  backend/internal/features/logs/core/repository.go
  backend/internal/features/logs/core/tests/repository_condition_operators_test.go
  backend/internal/features/logs/core/tests/repository_pagination_test.go
Due: backend-format-and-lint

FIX (tests): Compare micrroseconds instead of nanoseconds in tests
  backend/internal/features/logs/core/tests/repository_condition_operators_test.go
Due: backend-format-and-lint

FIX (logs): Store logs in nanoseconds timestamp
  backend/internal/features/logs/core/query_builder.go
  backend/internal/features/logs/core/repository.go
  backend/internal/features/logs/core/tests/repository_condition_operators_test.go
  backend/internal/features/logs/core/tests/repository_pagination_test.go
Due: backend-format-and-lint

FIX (tests): Add logs to test
  backend/internal/features/logs/core/tests/repository_condition_operators_test.go
Due: backend-format-and-lint

FIX (tests): Fix querying rounding issue
  backend/internal/features/logs/core/tests/repository_condition_operators_test.go
Due: backend-format-and-lint

FIX (logs): Do not allow to send logs in the future
  backend/internal/features/logs/core/errors.go
  backend/internal/features/logs/core/tests/repository_condition_operators_test.go
  backend/internal/features/logs/receiving/service.go
  backend/internal/features/logs/receiving/tests/log_validation_test.go
Due: backend-format-and-lint
